# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Conda and environment
.env
.venv
env/
venv/
*.env
*.conda
*.ipynb_checkpoints/

# VSCode
.vscode/

# Data & logs
*.nii
*.nii.gz
*.mha
*.h5
*.ckpt
*.tar
*.log
*.npy
*.pkl
*.v2
*.0

# Jupyter
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# datasets
data/



TPTBox/
TotalVibeSegmentator/
